@font-face {font-family: BarberChop; src: url(assets/BarberChop.otf)}
html{
    background-color: #ffd593;
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.hide{
    display:none;
}
#subHeader{
    position:relative;
    width:150px;
    font-size:24px;
    text-align: center;
    text-decoration:underline 7px;
    font-family:BarberChop;
    bottom:10px;
}
#twitchEmbed{
    left:22%;
    position:relative;
    border:5px solid;
    border-color:#c94f52;
    width:804px;
    height:454px;
    display:inline-block;
    top:0px;
    background-color:white
}
#logo{
    width:5%;
    height:5%;
}
#logo:hover{
    transition: .5s ease;
    filter:brightness(0%);
}
#logo2{
    width:8%;
    height:8%;
}
#logo2:hover{
    transition: .5s ease;
    filter:brightness(0%);
}
#pageTitle{
    font-family: BarberChop;
    font-size: 72px;
    text-align:center;
}
#countdown{
    margin-top:10%;
    text-align:center;
    font-family:barberchop;
}
#playerDiv{
    display:inline-block;
    margin-left:20px;
}
#staffDiv{
    display:inline-block;
    border-radius:40px;
    background-color:rgb(244, 232, 232);
    text-align: center;
    width:100%;
}
#staffRole{
    opacity: 0;
    position: absolute;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: BarberChop;
}
#roleText{
    color:white;
    background-color:#53a4e0;
    padding: 8px 8px;
}
#staffDivs{
    position:relative;
    width:10%;
    display:inline-block;
    text-align:center;
    left:40px;

}
#staffDivs:hover #staffDiv{
    opacity:0.5;
    transition: ease .5s;
}
#staffDivs:hover #staffRole{
    opacity:1;
}
#staffImg{
    width:40%;
}
#headerDiv{
    background-color: white;
    border-radius:7px;
    margin-bottom: 50px;
    text-align:right;
    position:fixed;
    width:100%;
    top:0px;
    left:0px;
    z-index:99 !important;
}
button{
    border-radius: 7px;
    background-color:#f28400;
    color:white;
    font-size:16px;
    font-family: BarberChop;
    font-kerning: auto;
    margin: 4px 2px;
    display: inline-block;
    cursor:pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color:white;
    color:black;
}
div{
    padding:1px;
}
.blink{
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker{
    50% {
        color:red;
}
}
  .container {
  position: relative;
  width: 20%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: BarberChop
}
.subtitle {
    background-color:white;
    color:black;
    text-align:center;
    border-radius:10px;
    font-family:Barberchop;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #53a4e0;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}