html{
    background-color: #ffd593;
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#logo:hover{
    transition: .5s ease;
    filter:brightness(0%);
}
#pageTitle{
    text-align:center;
}
div{
    padding:1px;
}