@font-face {font-family: BarberChop; src: url(assets/BarberChop.otf)}
html{
    background-color: #ffd593;
    font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#logo{
    width:5%;
    height:5%;
}
#logo:hover{
    transition: .5s ease;
    filter:brightness(0%);
}
#logo2{
    width:8%;
    height:8%;
}
#logo2:hover{
    transition: .5s ease;
    filter:brightness(0%);
}
#pageTitle{
    font-family: BarberChop;
    font-size: 72px;
    text-align:center;
}
#countdown{
    text-align:center;
    font-family:barberchop;
}
#playerDiv{
    display:inline-block;
    margin-left:20px;
}
#headerDiv{
    background-color: white;
    border-radius:7px;
    margin-top:0px;
    margin-bottom: 50px;
}
div{
    padding:1px;
}
button{
    border-radius: 7px;
    background-color:#f28400;
    color:white;
    font-size:16px;
    font-family: BarberChop;
    font-kerning: auto;
    margin: 4px 2px;
    display: inline-block;
    cursor:pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color:white;
    color:black;
}
.blink{
    animation: blinker 1.5s linear infinite;
}
@keyframes blinker{
    50% {
        color:red;
}
}